* {
  font-family: 'Roboto', sans-serif;
}

#logo {
  margin-bottom: 60px;
  margin-left: 10px;
  margin-top: 10px;
  width: 140px;
}

#user-input {
  height: 40px;
  margin: 20px 0px;
  width: 340px;
}

#input-button {
  font-size: 1em;
  background-color: #9a969c;
  width: 345px;
  height: 50px;
}

#face-link {
  margin-left: 10px;
}

.nav-items {
  padding-left: 10px;
}

.dog-show-profile {
  margin-left: 20px;
  width: 20%;
}

.dog-show-details {
  bottom: 200px;
  float: right;
  position: relative;
  width: 75%;
}

.dog-image {
  border-radius: 50%;
  border: 4px solid #9a969c;
  width: 150px;
}

.main-dog {
  float: left;
  margin: 20px 0px 0px 20px;
  width: 340px;
}

.dog-show {
  display: inline-block;
  height: 240px;
  width: 83%;
}

.form-box {
  height: 270px;
  margin-left: 55%;
  width: 400px;
}

.gallery-button {
  background-color: #3e3544;
  color: white;
  float: right;
  font-size: 1.1em;
  height: 50px;
  margin-right: 30px;
  width: 180px;
}

nav {
  background-color: #9a969c;
  border-right: 3px solid #3e3544;
  float: left;
  height: 1330px;
  width: 15%;
}

a {
  color: #000;
  font-weight: 900;
}

h1,
label {
  color: white;
  display: inline-block;
}

li {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 60px;
  margin-right: 20%;
  text-align: center;
}

footer {
  background-color: #3e3544;
  color: white;
  height: 155px;
  padding: 40px;
}

main {
  background-color:  #3e3544;
  text-align: center;
}

span {
  float: right;
  font-weight: 900;
}

footer p {
  display: inline;
  font-size: 1.5em;
  margin-left: 45%;
}

div p {
  font-size: 1.1em;
}

h1 {
  font-weight: 100;
  margin-top: 60px;
}

label {
  margin-right: 300px;
}

